<table>
  <tr>
    <td>Name</td>
    <td><%= @boy.name %></td>
  </tr>
  <tr>
    <td>Number</td>
    <td><%= @boy.number%></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to "Back", boys_path %></td>
  </tr>
</table>
